<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anything.codeanything.mapper.UserMapper">
    <select id="getUserProfileById" parameterType="long"  resultType="com.anything.codeanything.model.UserProfileResponse">
        SELECT
            UA.email, UA.username, UP.first_name, UP.first_name, UP.last_name,
            UP.nickname, UP.gender, UP.age, UP.phone_number, UA.account_status
        FROM T_USER_ACCOUNT UA
            INNER JOIN T_USER_PROFILE UP ON UA.user_id = UP.user_id
        WHERE UA.user_id = #{user_id};
    </select>
    <!-- Other SQL queries -->
</mapper>